<p id="notice"><%= notice %></p>

<h1>Listing Consultants</h1>

<table>
  <thead>
    <tr>
      <th>Discipline</th>
      <th>Title</th>
      <th>Firstname</th>
      <th>Surname</th>
      <th>Address</th>
      <th>Suburb</th>
      <th>State</th>
      <th>Postcode</th>
      <th>Phone</th>
      <th>Fax</th>
      <th>Url</th>
      <th>Lat</th>
      <th>Lng</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @consultants.each do |consultant| %>
      <tr>
        <td><%= consultant.discipline %></td>
        <td><%= consultant.title %></td>
        <td><%= consultant.firstname %></td>
        <td><%= consultant.surname %></td>
        <td><%= consultant.address %></td>
        <td><%= consultant.suburb %></td>
        <td><%= consultant.state %></td>
        <td><%= consultant.postcode %></td>
        <td><%= consultant.phone %></td>
        <td><%= consultant.fax %></td>
        <td><%= consultant.url %></td>
        <td><%= consultant.lat %></td>
        <td><%= consultant.lng %></td>
        <td><%= consultant.description %></td>
        <td><%= link_to 'Show', consultant %></td>
        <td><%= link_to 'Edit', edit_consultant_path(consultant) %></td>
        <td><%= link_to 'Destroy', consultant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Consultant', new_consultant_path %>
