

<p>
  <strong>Type:</strong>
  <%= @consultant.type %>
</p>

<p>
  <strong>Title:</strong>
  <%= @consultant.title %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @consultant.firstname %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @consultant.surname %>
</p>

<p>
  <strong>Address:</strong>
  <%= @consultant.address %>
</p>

<p>
  <strong>Suburb:</strong>
  <%= @consultant.suburb %>
</p>

<p>
  <strong>State:</strong>
  <%= @consultant.state %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @consultant.postcode %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @consultant.phone %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @consultant.fax %>
</p>

<p>
  <strong>Url:</strong>
  <%= @consultant.url %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @consultant.lat %>
</p>

<p>
  <strong>Lng:</strong>
  <%= @consultant.lng %>
</p>

<p>
  <strong>Description:</strong>
  <%= @consultant.description %>
</p>

<%= link_to 'Edit', edit_consultant_path(@consultant) %> |
<%= link_to 'Back', consultants_path %>
